[Unit]
Description=Run plaster-time.service every so often

[Timer]
# First run 5 minutes after boot, then every 10 minutes thereafter
OnBootSec=2m
OnUnitActiveSec=30s
Persistent=true

[Install]
WantedBy=timers.target
