[Unit]
Description=Run plaster-time.service every so often

[Timer]
# First run X minutes after boot, then every Y minutes thereafter
OnBootSec=2m
OnUnitActiveSec=30s
Persistent=true

[Install]
WantedBy=timers.target
